
Zadacha.iml
/.idea/
Zadacha.iml
out/production/Zadacha/Main.class
out/production/Zadacha/Point.class
out/production/Zadacha/Quadrilateral.class
out/production/Zadacha/QuadrilateralCalculations.class
